# Example REGCAP config file
# 2/8/16 - LIR
# 3/10/16 - added schedule path
# File Names / Paths
inPath = "in/"
outPath = "out/"
weatherPath = "weather/"
schedulePath = "schedules/"
# Output file control (TRUE = skip, FALSE = use)
printMoistureFile = TRUE
printFilterFile = FALSE
printOutputFile = TRUE
