# Example REGCAP config file
# 2/8/16 - LIR
# 3/10/16 - added schedule path
# 2/17/17 - added atticMCInit and dhDeadBand
# File Names / Paths
inPath = "/Users/brennanless/GoogleDrive/out_TEST/test/"
outPath = "/Users/brennanless/GoogleDrive/out_TEST/test/"
weatherPath = "/Users/brennanless/GoogleDrive/TMY3/alltmy3a/"
schedulePath = "schedules/"
# Output file control (TRUE = skip, FALSE = use)
printMoistureFile = TRUE
printFilterFile = FALSE
printOutputFile = TRUE
# Configuration vars
atticMCInit = 0.05
dhDeadBand = 2.5
cCapAdjustTime = 3
